html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto-Italic.ttf');
  font-style: italic;
}
