/* Colors */
/* Util Colors */
.teal {
  color: #46B0AA;
}

.blue {
  color: #2138B7;
}

.secondary-blue {
  color: #D1D5F4;
}

.yellow {
  color: #F6D869;
}

.gray {
  color: #F9FAFE;
}

/* Background Colors */
.bg-teal {
  background-color: #46B0AA;
}

.bg-blue {
  background-color: #2138B7;
}

.bg-secondary-blue {
  background-color: #D1D5F4;
}

.bg-yellow {
  background-color: #F6D869;
}

.bg-gray {
  background-color: #F9FAFE;
}

.bg-hero {
  background: linear-gradient(88.88deg, #4D90F2 -13.53%, #1E2DB0 49.88%);
}

.bottom-clip-hero {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.full-clip-up {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.full-clip-up-sm {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

.full-clip-down {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.top-clip-up {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.bottom-clip-up {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
