/* Utilities */
body {
  font-family: 'Open Sans', sans-serif;
}

.triangle-hero {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 1500px solid transparent;
  border-top: 500px solid #2138B7;
}

.triangle-hero-2 {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 1500px solid transparent;
  border-top: 100px solid #2138B7;
}

.triangle-top {
  width: 0;
  height: 0;
  border-left: 1500px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100px solid #F9FAFE;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 1500px solid transparent;
  border-top: 100px solid #F9FAFE;
}

.triangle-top-2 {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 1500px solid transparent;
  border-bottom: 100px solid #2138B7;
}

.triangle-bottom-2 {
  width: 0;
  height: 0;
  border-left: 1500px solid transparent;
  border-right: 0 solid transparent;
  border-top: 100px solid #2138B7;
}

.triangle-top-3-blue {
  width: 0;
  height: 0;
  border-left: 1500px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100px solid #2138B7;
}

.triangle-bottom-3-blue {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 1500px solid transparent;
  border-top: 100px solid #2138B7;
}

.lh-text {
  line-height: 2;
}

.shadow {
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
}

.shadow-card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}

.f1-5 {
  font-size: 2.5rem;
}

.f2-5 {
  font-size: 1.85rem;
}

.br-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.clip-angle {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}

.border-input {
  border-top: none;
  border-left: none;
  border-right: none;
}

.hr-white {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #A8B3E3;
  margin: 1em 0;
  padding: 0;
}

.h6 {
  min-height: 20rem;
}
